
<!DOCTYPE html>
	<!--[if !IE]><!-->
<html lang="en-US">
<!--<![endif]-->
<!--[if IE 6 ]><html lang="en-US" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="ie ie8"><![endif]-->

	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115328816-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115328816-1');
</script>

<!--[if lte IE 6]></base><![endif]-->
	<title>Home | NITI Aayog | Women Entrepreneurship Platform</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="title" content="Home" />
	<meta name="description" content="The Women Entrepreneurship Platform (WEP) is a first of its kind, unified access portal which brings together women from different parts of India to realize their entrepreneurial aspirations. " />
	<meta name="keywords" content="" />
	<meta name="author" content="NITI Aayog | Women Entrepreneurship Platform" />
	<meta name="copyright" content="&copy; 2018 NITI Aayog | Women Entrepreneurship Platform" />

	<meta itemprop="name" content="Home" />
	<meta itemprop="description" content="The Women Entrepreneurship Platform (WEP) is a first of its kind, unified access portal which brings together women from different parts of India to realize their entrepreneurial aspirations. " />
	<meta itemprop="image" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg" />

	<!-- Facebook Open Graph -->
	<meta property="fb:pages" content="1014754691993886" />
	<meta property="fb:admins" content="100001564332515"/>
	<meta property="og:title" content="Home | NITI Aayog | Women Entrepreneurship Platform" />
	<meta property="og:url" content="https://www.wep.gov.in/" />
	<meta property="og:image" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg" />
	<meta property="og:site_name" content="NITI Aayog | Women Entrepreneurship Platform" />
	<meta property="og:description" content="The Women Entrepreneurship Platform (WEP) is a first of its kind, unified access portal which brings together women from different parts of India to realize their entrepreneurial aspirations. " />
	<meta property="og:type" content="website" />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@siliconsight">
	<meta name="twitter:title" content="Home | NITI Aayog | Women Entrepreneurship Platform">
	<meta name="twitter:description" content="The Women Entrepreneurship Platform (WEP) is a first of its kind, unified access portal which brings together women from different parts of India to realize their entrepreneurial aspirations. ">
	<meta name="twitter:creator" content="@siliconsight">
	<meta name="twitter:image" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg">
	<meta name="twitter:image:src" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../images/favicon/site.webmanifest">
	<link rel="mask-icon" href="../images/favicon/safari-pinned-tab.svg"color="#c03ccc">
	<link rel="shortcut icon" href="../images/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#c03ccc">
	<meta name="msapplication-config" content="../images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#c03ccc">
	<!-- Favicon -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">
	<!-- Fonts -->

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
<link rel="stylesheet" type="text/css" href="../css/fontawesome/fa-svg-with-js.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

	<body class="homepage" dir="ltr">
		<div class="pre-navbar d-none d-sm-none d-md-block">
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="../images/top-band-img.png" alt="Government of India | NITI Aayog">
			</div>
		</div>
	</div>
</div>
		<header >
	<nav class="navbar primary-navigation navbar-expand-lg navbar-dark no-gutter">
		<div class="container">
			<a class="navbar-brand" href="https://www.wep.gov.in/">
				<img src="../images/wep-logo-text.svg" alt="NITI Aayog | Women Entrepreneurship Platform">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="about-wep">About WEP</a>
					</li>
          		 	<li class="nav-item dropdown">
                		<a class="nav-link dropdown-toggle" href="/#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    		Knowledge Bank <i class="fal fa-angle-down"></i>
                		</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							
							<a class="dropdown-item" href="knowledge-bank/schemes/">Schemes</a>
                <a class="dropdown-item" href="knowledge-bank/coming-soon/">Coming Soon</a>
							
						</div>
            		</li>
					<li class="nav-item">
						<a class="nav-link" href="wti-awards">WTI Awards </a>
					</li>
            <li class="nav-item">
                <a class="nav-link" href="partners/index.html">Partners</a>
            </li>
					
					
						<li class="nav-item button-nav-item ">
							<a href="https://www.wep.gov.in/register" class="btn btn-light">Register</a>
						</li>
					
            <li class="nav-item dropdown button-nav-item search-nav-item d-none d-lg-block d-xl-block">
                <a class="nav-link dropdown-toggle btn btn-light" href="/#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-search"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <li class="dropdown-item">
                       <form id="SearchForm_SearchForm" action="home/SearchForm" method="get" enctype="application/x-www-form-urlencoded">
                       <input type="text" id="SearchForm_SearchForm_Search" name="Search"  class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" value="" required >
                           <button class="d-none" type="submit" id="SearchForm_SearchForm_action_results" name="action_results"><i class="glyphicon glyphicon-search"></i></button>
                       </form>
                   </li>
                </ul>
            </li>
				</ul>
			</div>
		</div>
	</nav>

	
	<div class="container">
		<div class="row carousel slide" id="myCarousel" data-ride="carousel">
			<div class="col-md-12 no-gutter carousel-inner">
				<div class="opening ">
					<div class="container item active">
						<div class="row align-items-center">
							<div class="col-md-7">
								<h1 class="animated">
                    Women Empowering New India<br>
									<span>
											"In Indian mythology, woman is an incarnation of Shakti - the Goddess of power. We believe women empowerment is vital to our development"
										<br>
										<small class="float-right">- Hon’ble PM Narendra Modi</small>
										
									</span>
								</h1>
								
							</div>
							<div class="col text-center d-none d-md-block d-lg-block">
								<img class="animated" src="../images/no-background-modi.png" />
							</div>
						</div>
					</div>
					<div class="container item">
						<div class="row align-items-center">
							<div class="col-md-7">
								<h1 class="animated">
                    Women Empowering New India<br>
									<span>
											"In Indian mythology, woman is an incarnation of Shakti - the Goddess of power. We believe women empowerment is vital to our development"
										<br>
										<small class="float-right">- Hon’ble PM Narendra Modi</small>
										
									</span>
								</h1>
								
							</div>
							<div class="col text-center d-none d-md-block d-lg-block">
								<img class="animated" src="../images/no-background-modi.png" />
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
					<canvas></canvas>
				</div>

			</div>

		</div>
	</div>
	
</header>

		<div class="container-fluid">
			<div class="row">
	<div class="col-md-12 no-gutter">
		<div class="how-can-we-help">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 d-none d-sm-none d-lg-block">
						<h1>How can we help you?</h1>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="how-can-we-help-wrapper">
							<div class="row">
								<div class="col-lg-4 no-gutter">
									<div class="video">
										
									</div>
								</div>
								<div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 no-gutter idea d-none d-sm-none  d-lg-block">
                            <h2><i class="wec-idea"></i> I have an Idea</h2>
                            <ul>
                                <li>Learn how get started using Academy</li>
                                <li>Idea validation and access to mentorship</li>
                                <li>Quick and easy company registration</li>
                            </ul>

                        </div>
                        <div class="col-lg-6 no-gutter startup d-none d-sm-none d-lg-block">
                            <h2><i class="wec-startup"></i> I have a Startup</h2>
                            <ul>
                                <li>Self certification and compliance</li>
                                <li>INR 10,000 crore of funding support</li>
                                <li>Tax Exemptions for 3 years</li>
                            </ul>
                            
                        </div>
                        <div class="col-lg-12 d-none d-sm-none  d-lg-block">
                            <a href="register" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row d-block d-md-block d-lg-none">
					<div class="col">
						<h1>How can we help you?</h1>

						<a href="register" class="btn btn-primary"><i class="wec-idea"></i> I have an Idea</a>
						<a href="register" class="btn btn-secondary"><i class="wec-startup"></i> I have a Startup</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 no-gutter">
		<div class="guidance">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<h1 class="d-none d-sm-none d-md-block">Support: <span>Mentorship and Events</span></h1>
						<h1 class="d-block d-sm-block d-md-none">Support<br><span>Mentorship and Events</span></h1>
						<div class="row">
								<div class="col-12">
                    <div class="guideline">
                        <i class="wec-idea-validation"></i>
                        <h3>Idea validation</h3>
                        <p>Help in identifying your idea, assess it with respect to potential customers and the market environment</p>
                    </div>				
								</div>
                <div class="col-12">
                    <div class="guideline">
                        <i class="wec-financial-legal"></i>
                        <h3>Financial and Legal</h3>
                        <p>Building a legal foundation, Company registration, patents, break-even analysis and effective business planning</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="guideline">
                        <i class="wec-funding"></i>
                        <h3>Pitching and Funding</h3>
                        <p>Fundraising and evaluation; understanding investor's mindset, pitching and termsheets; identifying key focus areas</p>
                    </div>
                </div>
						</div>
						
						
					
					</div>
					<div class="col-12 col-md-6">
						<div class="video">
							<a href="">
								<i class="fas fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col">
		<div class="statistics">
			<div class="container">
				
          <div class="row">
              <div class="col-12 col-md-12 text-center">
                  <h3 class="page-title">Coming Soon</h3>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-2">
                  <div class="stat text-primary">
                      <i class="wec-women"></i>
                      <h3>Mentorship</h3>
                  </div>
              </div>

              <div class="col-sm-6 col-xs-12 col-md-2">
                  <div class="stat text-primary">
                      <i class="wec-academy-video"></i>
                      <h3>Knowledge Bank</h3>
                  </div>
              </div>

              <div class="col-sm-6 col-xs-12 col-md-2">
                  <div class="stat text-secondary">
                      <i class="wec-startup-recognition"></i>
                      <h3>Credit rating</h3>
                  </div>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-2">
                  <div class="stat text-secondary">
                      <i class="wec-startup-funded"></i>
                      <h3>Seed Funding</h3>
                  </div>
              </div>
              <!-- ADDING NEW ICONS HERE USE FONT AWESOME -->
              <div class="col-sm-6 col-xs-12 col-md-2">
                  <div class="stat text-primary">
                      <i class="wec-connect"></i>
                      <h3>Incubator Connect</h3>
                  </div>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-2">
                  <div class="stat text-primary">
                      <i class="wec-film"></i>
                      <h3>WEP Academy</h3>
                  </div>
              </div>
          </div>
			</div>
		</div>
	</div>
</div>


			<div class="row d-none">
	<div class="col">
		<div class="pre-footer">
			<div class="container">
				<div class="row">
					<div class="col">
						<h4>Contact Us</h4>
						<address>
							<i class="fal fa-telephone"></i> 1800 115 565 <span>(Toll Free)</span>
							<i class="fal fa-envelope"></i> <a href="mailto:contact@wep.gov.in">contact@wep.gov.in</a>
						</address>
					</div>
					<div class="col">
						<h4>Subscribe to our updates</h4>
						<form>
							<input type="email" placeholder="Enter your email address" />
							<button class="btn btn-primary">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
			<div class="row">
	<div class="col no-gutter">
		<div class="footer background-primary-secondary-gradient">
			<div class="container">
				<div class="row m-0">
					<div class="col-md-2">
						<img src="../images/wep-text-white.svg" alt="NITI Aayog | Women Entrepreneurship Platform" width="100" />
					</div>
					<div class="col-md-7">
							<div class="row">
                  <div class="col-md-4">
                      <ul>
                          <li><a href="about-wep"><strong>About WEP</strong></a></li>
                          <li><a href="wti-awards"><strong>WTI Awards</strong></a></li>
                          <li><a href="partners/index.html"><strong>Partners</strong></a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <ul>
                          <li><a href="knowledge-bank"><strong>Knowledge Bank</strong></a></li>
                          
                          <li><a  href="knowledge-bank/schemes/">Schemes</a></li>
                          <li><a  href="knowledge-bank/coming-soon/">Coming soon</a></li>
                          
                      </ul>
                  </div>
                  
							</div>
					</div>
            <div class="col-md-3">
		            <figure class="pt-5 d-block d-md-none d-lg-none d-xl-none">
                    <img src="../images/NITI.png" alt="NITI Aayog | Women Entrepreneurship Platform" width="200" class="img-fluid" />    
		            </figure>
                <figure class="d-none d-md-block d-lg-block d-xl-block">
                    <img src="../images/NITI.png" alt="NITI Aayog | Women Entrepreneurship Platform" class="img-fluid" />
                </figure>
                
            </div>
				</div>
				<div class="row m-0">
					<div class="col text-center">
						<p>&copy; 2018 NITI Aayog | Women Entrepreneurship Platform</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" defer></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" defer></script>

	<script type="text/javascript" src="../js/fontawesome/fontawesome-all.min.js?m=1520434094" defer></script>
	<script type="text/javascript" src="../js/core.js?m=1520434085" defer></script><script type="text/javascript" src="../js/script.js?m=1520588309" defer></script>
</body>
</html>