<!DOCTYPE html>
	<!--[if !IE]><!-->
<html lang="en-US">
<!--<![endif]-->
<!--[if IE 6 ]><html lang="en-US" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="ie ie8"><![endif]-->

	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115328816-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115328816-1');
</script>

	<title>Register / Log In | NITI Aayog | Women Entrepreneurship Platform</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="title" content="Register / Log In" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="NITI Aayog | Women Entrepreneurship Platform" />
	<meta name="copyright" content="&copy; 2018 NITI Aayog | Women Entrepreneurship Platform" />

	<meta itemprop="name" content="Register / Log In" />
	<meta itemprop="description" content="" />
	<meta itemprop="image" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg" />

	<!-- Facebook Open Graph -->
	<meta property="fb:pages" content="1014754691993886" />
	<meta property="fb:admins" content="100001564332515"/>
	<meta property="og:title" content="Register / Log In | NITI Aayog | Women Entrepreneurship Platform" />
	<meta property="og:url" content="https://www.wep.gov.in/profile/" />
	<meta property="og:image" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg" />
	<meta property="og:site_name" content="NITI Aayog | Women Entrepreneurship Platform" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website" />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@siliconsight">
	<meta name="twitter:title" content="Register / Log In | NITI Aayog | Women Entrepreneurship Platform">
	<meta name="twitter:description" content="">
	<meta name="twitter:creator" content="@siliconsight">
	<meta name="twitter:image" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg">
	<meta name="twitter:image:src" content="https://www.wep.gov.in/themes/silicon/images/default-cover.jpg">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../images/favicon/site.webmanifest">
	<link rel="mask-icon" href="../images/favicon/safari-pinned-tab.svg"color="#c03ccc">
	<link rel="shortcut icon" href="../images/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#c03ccc">
	<meta name="msapplication-config" content="../images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#c03ccc">
	<!-- Favicon -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">
	<!-- Fonts -->

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
<link rel="stylesheet" type="text/css" href="../css/fontawesome/fa-svg-with-js.css?m=1520434086" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css?m=1520588320" />
<link rel="stylesheet" type="text/css" href="../css/styles.css?m=1520588320" />


<script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifRegistered').style.display = 'inline';
    }
    else document.getElementById('ifRegistered').style.display = 'none';

}

</script>







</head>

	<body class="memberprofilepage" dir="ltr">
		<div class="pre-navbar d-none d-sm-none d-md-block">
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="../images/top-band-img.png" alt="Government of India | NITI Aayog">
			</div>
		</div>
	</div>
</div>
		<header >
	<nav class="navbar primary-navigation navbar-expand-lg navbar-dark no-gutter">
		<div class="container">
			<a class="navbar-brand" href="https://www.wep.gov.in/">
				<img src="../images/wep-logo-text.svg" alt="NITI Aayog | Women Entrepreneurship Platform">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="about-wep">About WEP</a>
					</li>
          		 	<li class="nav-item dropdown">
                		<a class="nav-link dropdown-toggle" href="/profile/#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    		Knowledge Bank <i class="fal fa-angle-down"></i>
                		</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							
							<a class="dropdown-item" href="knowledge-bank/schemes/">Schemes</a>
                <a class="dropdown-item" href="knowledge-bank/coming-soon/">Coming Soon</a>
							
						</div>
            		</li>
					<li class="nav-item">
						<a class="nav-link" href="wti-awards">WTI Awards </a>
					</li>
            <li class="nav-item">
                <a class="nav-link" href="partners/index.html">Partners</a>
            </li>
					
					
						<li class="nav-item button-nav-item ">
							<a href="https://www.wep.gov.in/register" class="btn btn-light">Register</a>
						</li>
					
            <li class="nav-item dropdown button-nav-item search-nav-item d-none d-lg-block d-xl-block">
                <a class="nav-link dropdown-toggle btn btn-light" href="/profile/#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-search"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <li class="dropdown-item">
                       <form id="SearchForm_SearchForm" action="home/SearchForm" method="get" enctype="application/x-www-form-urlencoded">
                       <input type="text" id="SearchForm_SearchForm_Search" name="Search"  class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" value="" required >
                           <button class="d-none" type="submit" id="SearchForm_SearchForm_action_results" name="action_results"><i class="glyphicon glyphicon-search"></i></button>
                       </form>
                   </li>
                </ul>
            </li>
				</ul>
			</div>
		</div>
	</nav>

	
</header>

		<div class="container-fluid">
			<div class="row">
    <div class="col">
        <div class="container no-gutter">
            <h3 class="page-title">Registration for the Women Entrepreneurship Platform</h3>
					
              <form id="Form_RegisterForm" action="/profile/RegisterForm" method="post" enctype="application/x-www-form-urlencoded" class="row form-validator">
                  <div class="col-md-12">
										
                  </div>

								
									
                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
														First Name <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="FirstName" value="" type="text" placeholder="First Name"
                                 data-msg-required="First Name is required"/>
												
                      </div>
									

									

									

									

									

									

									
									
									
									

									

									

									

									

									

								
									

									
                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
														Surname <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="Surname" value="" type="text" placeholder="Surname"
                                 data-msg-required="Surname is required"/>
												
                      </div>
									

									

									

									

									

									
									
									
									

									

									

									

									

									

								
									

									

									
                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
                              Email Address <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="Email" value="" type="text"
                                 placeholder="Email Address" data-msg-required="Please enter a valid email address."
                          />
												
                      </div> 





                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
                              Age <span class="text-danger">*</span>
                          </label>
                          <select name="Age" class="dropdown form-control" id="Form_RegisterForm_Age">

	<option value="15">15-25</option>

	<option value="26">26-35</option>

	<option value="36">36-45</option>

	<option value="46">46-60</option>

	<option value="60">60+</option>

</select>
												
                      </div>
									

									

									

									

									
									
									
									

									

									

									

									

									

								
									

									

									

									
                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
                              Password <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="Password[_Password]" value="" type="password"
                                 placeholder="Password" autocomplete="off"
                                 data-msg-required="Type in a password." id="Password_Password"/>
												
                      </div>
                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
                              Re-enter Password <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="Password[_ConfirmPassword]" value="" type="password"
                                 placeholder="Re-enter Password" autocomplete="off"
                                 data-msg-equalTo="Type in the Password, again."/>
                      </div>
									

									

									

									
									
									
									

									

									

									

									

									

								
									

									

									

									

									
										
									

									

									
									
									
									

									

									

									

									

									

								
									

									

									

									

									

									
                      <div class="col-md-12 form-group">
                          <label for="" class="control-label">
														Mobile <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="Mobile" value="" type="text" placeholder="Mobile "
                                 data-msg-required="We need your mobile number for registration."/>
												
                      </div>
									

									
									
									
									

									

									

									

									

									

								
									

									

									

									

									

									

									
									
									
									

									
                      <div class="col-md-12 form-group">
                          <label for="" class="control-label">Address <span class="text-danger">*</span></label>
                          <textarea class="form-control" name="Address" placeholder="Address"
                                    data-msg-required="We need your address."></textarea>
												
                      </div>



				
									

									

									

								
									

									

									

									

									

													
									

									
                      <div class="col-md-4 form-group">
                          <label for="" class="control-label">
                              State/Union Territories <span class="text-danger">*</span>
                          </label>
												<select name="State" class="dropdown form-control" id="Form_RegisterForm_State" required="required" aria-required="true">

	<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>

	<option value="Andhra Pradesh">Andhra Pradesh</option>

	<option value="Arunachal Pradesh">Arunachal Pradesh</option>

	<option value="Assam">Assam</option>

	<option value="Bihar">Bihar</option>

	<option value="Chandigarh">Chandigarh</option>

	<option value="Chhattisgarh">Chhattisgarh</option>

	<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>

	<option value="Daman and Diu">Daman and Diu</option>

	<option value="Delhi">Delhi</option>

	<option value="Goa">Goa</option>

	<option value="Gujarat">Gujarat</option>

	<option value="Haryana">Haryana</option>

	<option value="Himachal Pradesh">Himachal Pradesh</option>

	<option value="Jammu and Kashmir">Jammu and Kashmir</option>

	<option value="Jharkhand">Jharkhand</option>

	<option value="Karnataka">Karnataka</option>

	<option value="Kerala">Kerala</option>

	<option value="Lakshadweep">Lakshadweep</option>

	<option value="Madhya Pradesh">Madhya Pradesh</option>

	<option value="Maharashtra">Maharashtra</option>

	<option value="Manipur">Manipur</option>

	<option value="Meghalaya">Meghalaya</option>

	<option value="Mizoram">Mizoram</option>

	<option value="Nagaland">Nagaland</option>

	<option value="Odisha">Odisha</option>

	<option value="Puducherry">Puducherry</option>

	<option value="Punjab">Punjab</option>

	<option value="Rajasthan">Rajasthan</option>

	<option value="Sikkim">Sikkim</option>

	<option value="Tamil Nadu">Tamil Nadu</option>

	<option value="Telangana">Telangana</option>

	<option value="Tripura">Tripura</option>

	<option value="Uttar Pradesh">Uttar Pradesh</option>

	<option value="Uttarakhand">Uttarakhand</option>

	<option value="West Bengal">West Bengal</option>

</select>
                      </div>
									

									

									

									

								
									

									

									

									

									

									

									
									
									
									

									

									

									
                      <div class="col-md-4 form-group">
                          <label for="" class="control-label">
														City <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="City" value="" type="text" placeholder="City"
                                 data-msg-required="We need your city for registration."/>
												
                      </div>
									

									

									

								
									

									

									

									

									

									

									
									
									
									

									

									

									

									
                      <div class="col-md-4 form-group">
                          <label for="" class="control-label">
														Pincode <span class="text-danger">*</span>
                          </label>
                          <input class="form-control" name="Pincode" value="" type="text" placeholder="Pincode"
                                 data-msg-required="We need your pincode for registration."/>
												
                      </div>
									

									

								
									

									
<div class="col-md-12 form-group">
					<label for="" class="control-label">Have you Registered Your Business <span class="text-danger">*</span></label>
                      <input type="radio" onclick="javascript:yesnoCheck();" name="RegisterCheck" value="yes" id="yesCheck" > Yes
                      <input type="radio" onclick="javascript:yesnoCheck();" name="RegisterCheck" value="no" > No<br>
                 </div>




               <div class="container no-gutter" id="ifRegistered" style="display:none">


					   <div class="col-md-12 form-group">
                          <label for="" class="control-label">Describe Your Business  <span class="text-danger">*</span></label>
                          <textarea class="form-control" name="BusinessDescribe" placeholder="Describe"
                                    data-msg-required="Describe Your business"></textarea>
												
                      </div>
									
                      	<div class="row container">	
                      <div class="col-md-6 form-group">
                          <label for="">Designation <span class="text-danger">*</span></label>
												<select name="Designation" class="dropdown form-control" id="Form_RegisterForm_Designation">

						<option value="Proprietor">Proprietor</option>

						<option value="Promoter">Promoter</option>

						<option value="Partner">Partner</option>

						<option value="Director">Director</option>

						</select>
                      </div>
							
							 <div class="col-md-3 form-group">
                          <label for="">Do you have a PAN? <span class="text-danger">*</span></label>
                          <select name="PAN" class="dropdown form-control valid" id="Form_RegisterForm_PAN" aria-invalid="false">

                              <option value="Yes">Yes</option>

                              <option value="No" selected="selected">No</option>

                          </select>
                      </div>
									
									

									

									

									

									

									

								
									

									

									

									

									

									

									
									
									
									
                      <div class="col-md-3 form-group">
                          <label for="">Do you have GSTIN? <span class="text-danger">*</span></label>
                          <select name="GST" class="dropdown form-control valid" id="Form_RegisterForm_GST" aria-invalid="false">

                              <option value="Yes">Yes</option>

                              <option value="No" selected="selected">No</option>

                          </select>
                      </div>
									

									

				</div>							
               </div>
									

									

									

									

									


									

									

									

									

								
									

									

									

									

									

									

									
									
									
                     

									

									

									

								
									

									

									

									

									

									

									
									
                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
														Qualifications <span class="text-danger">*</span>
                          </label>

												<select name="Qualifications" class="dropdown form-control" id="Form_RegisterForm_Qualifications">

	<option value="High school">High school</option>

	<option value="Graduate">Graduate</option>

	<option value="Post Graduate and above">Post Graduate and above</option>

</select>
                      </div>




                      <div class="col-md-6 form-group">
                          <label for="" class="control-label">
														What help do you expect from WEC <span class="text-danger">*</span>
                          </label>

												<select name="Expectations" class="dropdown form-control" id="Form_RegisterForm_Expectations">

	<option value="Funding">Funding</option>

	<option value="Skill">Entrepreneurship Skill upgradations</option>

	<option value="Legal">Legal Compliance</option>

	<option value="Industry">Industry Learning </option>

	<option value="Schemes">Government Scheme Support </option>

	<option value="Others">Any Other </option>

</select>











                      </div>
                      <div class="col-md-6">
                          <div class="d-none text-center crisil-link-wrapper" id="">
                              <label for="">&nbsp;</label>
                              <a target="_blank" id="crisil-link" class="btn btn-secondary"
                                 href="">
                                  Get your Free WE-Check report now
                              </a>
		                         
                          </div>

                      </div>
									
									
									

									

									

									

									

									

								
									

									

									

									

									

									

									
									
									
									

									

									

									

									

									
                      <input class="form-control" name="SecurityID" value="dac1051844f124e18ea6752ea4a9a941fa8d0a55" type="hidden"/>
									

								

								
                <div class="col-md-12 form-group">
                <div class="crisil-link-wrapper d-none">
                    
                    <p class="alert alert-warning">
                        Please keep this page open to complete your registration. <br> Click WE-CHECK and register yourself to easily avail WEP services in the future.
                    </p>
                    
                </div>
									
                      <button type="submit" name="action_register" class="btn btn-primary action" value="Register">Register</button>
                  </div>
									
								
              </form>
					
        </div>
    </div>
</div>
			<div class="row d-none">
	<div class="col">
		<div class="pre-footer">
			<div class="container">
				<div class="row">
					<div class="col">
						<h4>Contact Us</h4>
						<address>
							<i class="fal fa-telephone"></i> 1800 115 565 <span>(Toll Free)</span>
							<i class="fal fa-envelope"></i> <a href="mailto:contact@wep.gov.in">contact@wep.gov.in</a>
						</address>
					</div>
					<div class="col">
						<h4>Subscribe to our updates</h4>
						<form>
							<input type="email" placeholder="Enter your email address" />
							<button class="btn btn-primary">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
			<div class="row">
	<div class="col no-gutter">
		<div class="footer background-primary-secondary-gradient">
			<div class="container">
				<div class="row m-0">
					<div class="col-md-2">
						<img src="../images/wep-text-white.svg" alt="NITI Aayog | Women Entrepreneurship Platform" width="100" />
					</div>
					<div class="col-md-7">
							<div class="row">
                  <div class="col-md-4">
                      <ul>
                          <li><a href="about-wep"><strong>About WEP</strong></a></li>
                          <li><a href="wti-awards"><strong>WTI Awards</strong></a></li>
                          <li><a href="partners/index.html"><strong>Partners</strong></a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <ul>
                          <li><a href="knowledge-bank"><strong>Knowledge Bank</strong></a></li>
                          
                          <li><a  href="knowledge-bank/schemes/">Schemes</a></li>
                          <li><a  href="knowledge-bank/coming-soon/">Coming soon</a></li>
                          
                      </ul>
                  </div>
                  
							</div>
					</div>
            <div class="col-md-3">
		            <figure class="pt-5 d-block d-md-none d-lg-none d-xl-none">
                    <img src="../images/NITI.png" alt="NITI Aayog | Women Entrepreneurship Platform" width="200" class="img-fluid" />    
		            </figure>
                <figure class="d-none d-md-block d-lg-block d-xl-block">
                    <img src="../images/NITI.png" alt="NITI Aayog | Women Entrepreneurship Platform" class="img-fluid" />
                </figure>
                
            </div>
				</div>
				<div class="row m-0">
					<div class="col text-center">
						<p>&copy; 2018 NITI Aayog | Women Entrepreneurship Platform</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script><script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" defer></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" defer></script><script type="text/javascript" src="https://www.google.com/recaptcha/api.js" defer></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js" defer></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.js" defer></script>
	<script type="text/javascript" src="../js/fontawesome/fontawesome-all.min.js" defer></script><script type="text/javascript" src="/../js/core.js" defer></script><script type="text/javascript" src="../js/script.js" defer></script></body>
</html>